<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_p2p._udp</string>
		<string>_p2p._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Freedom uses the camera to scan the connection QR code shown by Freedom on your computer, and for websites you allow to use it.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Freedom saves images you choose from a web page to your photo library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Websites you allow can use the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Websites you allow can use motion and orientation sensors.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Freedom uses Face ID to unlock your wallet.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>baby.freedom.browser</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>freedom</string>
			</array>
		</dict>
		<dict>
			<!-- Links from other apps (and the default-browser role for http/https). -->
			<key>CFBundleURLName</key>
			<string>baby.freedom.browser.links</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>bzz</string>
				<string>ipfs</string>
				<string>ipns</string>
				<string>ens</string>
				<string>web3</string>
				<string>rad</string>
				<string>ethereum</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
